 /* Удалить пули по умолчанию */
 ul, #myUL {
    list-style-type: none;
  }
  
  /* Удалите поля и отступы из родительского ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Стиль курсора/стрелки */
  .caret {
    cursor: pointer;
    user-select: none; /* Запретить выделение текста */
  }
  
  /* Создайте курсор/стрелку с юникодом, и стиль его */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Поверните значок курсора/стрелки при нажатии (с помощью JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Скрыть вложенный список */
  .nested {
    display: none;
  }
  
  /* Показать вложенный список, когда пользователь нажимает на курсор стрелку (с JavaScript) */
  .active {
    display: block;
  } 